.project-container  {
  border:1px solid ;
  margin:10px;
  display:flex;
  flex-wrap:wrap;
  justify-content:center;
  align-items:center;
  border-radius:10px;
}



.project{
  border:1px solid ;
  width: 150px;
  height:17.5vh;
  margin:10px;
  border-radius:12px;
 display: flex;
 justify-content: center;
 align-items: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
