


.project-container  {
  margin:10px;
  display:flex;
  flex-wrap:wrap;
  justify-content:center;
  align-items:center;
  border-radius:10px;
}

.project{
  border:1px solid ;
  width: 150px;
  height:17.5vh;
  margin:10px;
  border-radius:12px;
  display: flex;
 justify-content: center;
 align-items: center;
}
.picture{
  width:18%;
  height:83px;
  border-radius:50% ;
  display:flex;
  justify-content: space-around;
  align-items:center;
}
.picture img{
  width:100%;
  border-radius:50% ;
  object-fit:fill;
   height:80px;
}
.long-navigation{
  display:none;
}
a{
  text-decoration:none;
}
 @media (min-width: 768px){
  .picture{
   width: 19%;
    height:180px;
  }.picture img{
    width:100%;
    height:180px;
  }
 }
 @media (min-width: 1024px){
  .picture{
    width: 6.7%;
    height:200px;
  }.picture img{
    width:100%;
    height:200px;
  }.short-navigation{
    display: none;
  }.long-navigation{
    display:flex;
    list-style: none;
    
    width: 20%;
    height: 40px;
    justify-content: space-around;
    align-items: center;
  }.long-navigation li {
   text-decoration: none;
   border:1px solid; 
   width: 120px;
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 10px;
  }
 }
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
